.root {
  -fx-font-family: "Inter";
  -fx-font-size: 16px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
}

.splash-screen-view {
  -fx-background-color: -fx-primary;
  -fx-alignment: center; /* Center the children of the VBox */
  -fx-text-alignment: center;
}

.title {
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 30px;
}

Label, Text {
  -fx-fill: -fx-secondary;
  -fx-text-fill: -fx-secondary;
}


/* Selector */
.selector-container {
  -fx-alignment: center;
  -fx-padding: 25px 5px 10px 5px;
}

.combo-box {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
}

.combo-box .list-cell {
  -fx-text-fill: -fx-secondary;
  -fx-background-color: -fx-primary;
  -fx-border-width: 0;
}

.combo-box-popup .list-view {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
}

.combo-box .arrow {
  -fx-background-color: -fx-secondary;
}

/* Vertical Menu - VMenu */
.v-menu {
  -fx-padding: 30px;
  -fx-spacing: 20px;
  -fx-alignment: center;
}

.v-menu .button {
  -fx-font-size: 24px;
  -fx-padding: 10px 20px;
  -fx-min-width: 400px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
}

.v-menu .button:hover {
  -fx-background-color: -fx-highlight;
}

/* Game player views */
.game-view {
  -fx-background-color: -fx-primary;
}

.game-screen-view {
  -fx-background-color: -fx-primary;
}

.hud-container {
  -fx-padding: 20px;
  -fx-background-color: -fx-primary;
  -fx-alignment: center;
  -fx-spacing: 20px;
}

.hud-container Label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Press Start 2P";
}

