.root {
  -fx-font-family: "Inter";
  -fx-font-size: 14px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
}

.center-root {
  -fx-background-color: -fx-primary;
  -fx-alignment: center;
  -fx-text-alignment: center;
}

Label, Text {
  -fx-fill: -fx-secondary;
  -fx-text-fill: -fx-secondary;
}

/* Text Formatting */

.title {
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 30px;
  -fx-alignment: center;
}

.heading {
  -fx-font-size: 16px;
  -fx-font-family: "Press Start 2P";
  -fx-text-alignment: center;
}

.label {
  -fx-font-size: 12px;
  -fx-text-fill: -fx-secondary;
}

/* Menu Formatting */

.menu-bar {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 0 0 2px 0;
}

.menu-bar .label {
  -fx-text-fill: -fx-secondary;
}

.menu-bar .menu:hover {
  -fx-background-color: -fx-highlight;
}

.context-menu {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
}

.context-menu .menu-item {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
}

.context-menu .menu-item:hover {
  -fx-background-color: -fx-highlight;
  -fx-text-fill: -fx-secondary;
}

.context-menu .menu-item .label {
  -fx-text-fill: -fx-secondary;
}

.context-menu .menu-item:hover .label {
  -fx-text-fill: -fx-secondary;
}

/* Button Formatting */
.button {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-background-radius: 2px;
  -fx-border-radius: 2px;
  -fx-font-family: "Inter";
  -fx-text-alignment: center;
  -fx-font-size: 12px;
  -fx-padding: 7px 9px;
}

.small-button {
  -fx-font-size: 10px;
  -fx-padding: 10px 20px;
  -fx-min-width: 100px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-family: "Press Start 2P";
  -fx-text-alignment: center;
}

.small-button:hover {
  -fx-background-color: -fx-highlight;
}

.icon-button {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-color: -fx-highlight;
  -fx-text-fill: -fx-secondary;
  -fx-background-radius: 50%;
  -fx-min-width: 30px;
  -fx-min-height: 30px;
  -fx-max-width: 30px;
  -fx-max-height: 30px;
  -fx-cursor: hand;
  -fx-border-width: 0px;
}

.icon-button:hover {
  -fx-background-color: -fx-highlight;
  -fx-cursor: hand;
}

/* Pagination Formatting */

.pagination-page-box {
  -fx-alignment: center;
  -fx-spacing: 10px;
  -fx-padding: 20px;
}

.pagination {
  -fx-page-information-visible: false;
  -fx-arrows-visible: false;
  -fx-background-color: transparent;
  -fx-padding: 20px;
  -fx-spacing: 10px;
  -fx-alignment: center;
}

.pagination > .pagination-control > .control-box {
  -fx-spacing: 0;
  -fx-font-size: 12;

  -fx-border-width: 2px;
  -fx-font-family: "Press Start 2P";
}

.pagination .number-button {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
}

.pagination .number-button:hover {
  -fx-background-color: -fx-highlight;
}

.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected {
  -fx-background-color: -fx-highlight;
}

.pagination > .pagination-control > .control-box {
  -fx-spacing: 10px;
  -fx-padding: 30px;
  -fx-alignment: center;
}

.pagination .number-button {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 10px;
  -fx-padding: 5px 10px;
}

.pagination .left-arrow,
.pagination .right-arrow {
  -fx-background-color: transparent;
  -fx-shape: "M 0 0 L 4 4 L 0 8 Z"; /* Simple triangle */
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-min-width: 20px;
  -fx-min-height: 20px;
}


/* Alert Formatting */

.alert {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-font-size: 16px;
}

.alert .content.label {
  -fx-text-fill: -fx-secondary;
  -fx-font-size: 16px;
}

.alert .header-panel {
  -fx-background-color: -fx-highlight;
}

.alert .header-panel .label {
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 24px;
}

.alert .button-bar .button {
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 14px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-padding: 8px 20px;
  -fx-cursor: hand;
}

.alert .button-bar .button:hover {
  -fx-background-color: -fx-highlight;
}

/* Text Input Selector */

.text-input {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-padding: 5px 10px;
  -fx-font-size: 14px;
}

/* Components */

/* selector */
.selector-container {
  -fx-alignment: center;
  -fx-padding: 7px 9px;
}

.combo-box {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
}

.combo-box .list-cell {
  -fx-text-fill: -fx-secondary;
  -fx-background-color: -fx-primary;
  -fx-border-width: 0;
}

.combo-box-popup .list-view {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
}

.combo-box .arrow {
  -fx-background-color: -fx-secondary;
}

/* vmenu */
.v-menu {
  -fx-padding: 30px;
  -fx-spacing: 20px;
  -fx-alignment: center;
}

.v-menu .button {
  -fx-font-size: 18px;
  -fx-padding: 10px 20px;
  -fx-min-width: 440px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-family: "Press Start 2P";
}

.v-menu .button:hover {
  -fx-background-color: -fx-highlight;
}

.canvas-view {
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-background-size: contain;
  -fx-background-position: center center;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}


/* Authoring View Specific Styling */
.side-panel {
  -fx-pref-width: 300px;
  -fx-spacing: 10px;
}

.tile-hover {
  -fx-stroke: -fx-highlight;
  -fx-stroke-width: 2px;
  -fx-fill: transparent;
}

.tile-selection {
  -fx-stroke: -fx-accent;
  -fx-stroke-width: 2px;
  -fx-fill: transparent;
}

.selected-tile {
  -fx-background-color: lightgray;
}

.entity-selector-view .button {
  -fx-font-size: 14px;
  -fx-padding: 10px 20px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
}

.entity-selector-view .button:hover {
  -fx-background-color: -fx-highlight;
}

.entity-tile {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-highlight;
  -fx-border-width: 1;
  -fx-padding: 6;
  -fx-cursor: hand;
}

.entity-tile:hover {
  -fx-background-color: -fx-highlight;
}

.selected-tile {
  -fx-border-color: derive(-fx-accent, -20%);
  -fx-border-width: 2;
  -fx-background-color: -fx-accent;
}

/* Game Player Styles */

.hud-container {
  -fx-padding: 10px 0 20px 0;
  -fx-background-color: -fx-primary;
  -fx-alignment: center;
  -fx-spacing: 20px;
}

.hud-container Label {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Press Start 2P";
}

.hud-container .button {
  -fx-font-size: 15px;
  -fx-padding: 10px 20px;
  -fx-min-width: 200px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
}

.end-label {
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 48px;
  -fx-text-fill: -fx-secondary;
  -fx-background-color: -fx-primary;
  -fx-padding: 20px;
}

.save-button {
  -fx-font-size: 15px;
  -fx-padding: 10px 20px;
  -fx-min-width: 200px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-translate-y: 120px;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-family: "Press Start 2P";
}

.delete-button {
  -fx-background-color: derive(-fx-warning, -30%);
  -fx-border-color: -fx-warning;
  -fx-text-fill: derive(-fx-warning, 90%);
}


.end-button {
  -fx-font-size: 15px;
  -fx-padding: 10px 20px;
  -fx-min-width: 200px;
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 3px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-family: "Press Start 2P";
  -fx-translate-y: 80px;
}


/* Scroll bar */

.scroll-bar {
  -fx-background-color: transparent;
}

.scroll-bar .thumb {
  -fx-background-color: -fx-highlight;
  -fx-background-radius: 5px;
  -fx-pref-width: 7px;
  -fx-pref-height: 7px;
}

.scroll-bar .thumb:hover {
  -fx-background-color: derive(-fx-highlight, -10%);
}

.scroll-bar .thumb:pressed {
  -fx-background-color: derive(-fx-highlight, -20%);
}

.scroll-bar .track {
  -fx-background-color: -fx-primary;
  -fx-background-radius: 10px;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
  -fx-background-color: -fx-highlight;
  -fx-background-radius: 10px;
  -fx-padding: 7px;
}

.scroll-bar .increment-button .arrow,
.scroll-bar .decrement-button .arrow {
  -fx-background-color: -fx-secondary;
}


/* Game settings view */
.game-settings-view {
  -fx-spacing: 20px;
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-min-width: 1100px;
  -fx-max-height: 250px;
}

.game-settings-scroll-pane {
  -fx-pref-width: 1100px;
  -fx-min-width: 1100px;
}

.settings-grid {
  -fx-hgap: 10px;
  -fx-vgap: 20px;
  -fx-pref-width: 1000px;
  -fx-min-width: 1000px;
}

.settings-title {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Press Start 2P";
  -fx-padding: 0 0 8px 0;
}

/* Spinner */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px 2px 2px 0;
  -fx-background-radius: 0 5px 5px 0;
  -fx-min-width: 30px;
  -fx-padding: 12px;
}

.spinner .decrement-arrow-button {
  -fx-border-width: 0 2px 2px 0;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
  -fx-background-color: derive(-fx-highlight, -20%);
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
  -fx-background-color: -fx-secondary;
}

.spinner .increment-arrow:hover,
.spinner .decrement-arrow:hover {
  -fx-background-color: -fx-highlight;
}

.check-box {
  -fx-font-family: "Inter";
  -fx-font-size: 14px;
  -fx-text-fill: -fx-secondary;
  -fx-background-color: -fx-primary;
  -fx-padding: 5px;
}

.check-box > .box {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-border-radius: 3px;
  -fx-background-radius: 3px;
  -fx-padding: 3px;
}

.check-box:selected .box {
  -fx-background-color: -fx-highlight;
  -fx-border-color: -fx-secondary;
}

.check-box .mark {
  -fx-mark-color: transparent;
}

.check-box:selected .mark {
  -fx-mark-color: -fx-secondary;
}


.spawn-event-table, .mode-change-event-table {
  -fx-min-width: 700px;
  -fx-pref-width: 700px;
}

/* Table view */
.table-view {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
  -fx-font-family: "Inter";
  -fx-font-size: 14px;
  -fx-text-fill: -fx-secondary;
}

.table-view .column-header-background {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 0 0 2px 0; /* Only bottom border */
}

.table-view .column-header,
.table-view .filler {
  -fx-background-color: -fx-primary;
}

.table-view .column-header .label {
  -fx-text-fill: -fx-secondary;
  -fx-font-size: 12px;
  -fx-alignment: center;
}

.table-view .table-cell {
  -fx-border-color: -fx-secondary;
  -fx-border-width: 0 1px 0 0;
  -fx-text-fill: -fx-secondary;
  -fx-alignment: center;
  -fx-padding: 10px;
  -fx-font-size: 14px;
}

.table-row-cell {
  -fx-background-color: -fx-primary;
}

.table-row-cell:hover, .table-row-cell:selected {
  -fx-background-color: -fx-highlight;
}

.game-selector-view {
  -fx-background-color: -fx-primary;
}

.editor-container {
  -fx-border-color: -fx-accent;
  -fx-border-width: 2px;
  -fx-border-style: dotted;
}


.list-view {
  -fx-background-color: -fx-primary;
  -fx-control-inner-background: -fx-primary;
  -fx-border-color: -fx-secondary;
  -fx-border-width: 2px;
}

.list-cell {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-secondary;
  -fx-font-family: "Inter";
  -fx-font-size: 14px;
  -fx-padding: 8px;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
  -fx-background-color: -fx-highlight;
  -fx-text-fill: -fx-secondary;
}

.list-cell:filled:hover {
  -fx-background-color: derive(-fx-highlight, 20%);
  -fx-text-fill: -fx-secondary;
}

.collision-rule-dialog {
  -fx-pref-height: 800px;
}

.rule-list-scroll-pane {
  -fx-pref-height: 300px;
}
